*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}
/* NAV BAR */
header{
    background-color: #fa6901;
    width: 100%;
    position: fixed;
    z-index:1;
    
}
nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    
    
    
}

nav >img{
    width: 130px;
    padding: 12px;
    
}
 a:link{
    color: white;
    text-decoration:none;
}
a:hover{
    text-decoration: underline;
}

/* SECTION 1 */
.images{
    
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    
    padding: 70px 200px ;
        
 }
 .label  li{
    list-style: none;
}

 .images img{

    width: 342px;
    padding: 8px;
   
    
  
    
 }
 .label{
    position:relative;
    
    
    
 }

 .label div{
    position: absolute;
    bottom:100px;
    left: 8px;
    background-color: red;
    color: white;
    order: 2;
    
   
 }
 
 .label > span{
    position: absolute;
    color:white;
    bottom:100px;
    left: 47px;
    background-color: green;
    
    
 }
 
 .label i{
    background-color:white;
    position: absolute;
    right:8px;
    top: 22px;
    padding: 8px;
 }

 .label i:hover{
    color: red;

 }

 .jpg-b{
    display: none;
 }

 .images :hover .jpg-a{
    display:none;
 }


 .images :hover .jpg-b{
 display:block
}

 .label li:nth-child(3){
    color:red;
}

li > span{
    color: black;
    display: inline;
    text-decoration: line-through;

}

#label-6{
 position: absolute;
 left:8px;
}

/* FOOTER */

footer{
    background-color: rgb(58, 56, 56);
    padding:30px;

}

.footer-container{
    
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul{
    color: white;
    
    
}

.footer-text {
    color: white;
    font-weight: bold;
    padding-bottom: 5px;
}
.footer-container  li {
    list-style: none;
    display: inline;

}


   



