*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}
/* barra di navigazione */
header{
    background-color: #fa6901;
    width: 100%;
    position: fixed;
    z-index:1;
    
}
nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    
    
    
}

nav >img{
    width: 130px;
    padding: 12px;
    
}
 a:link{
    color: white;
    text-decoration:none;
}
a:hover{
    text-decoration: underline;
}

/* sec1 */



.images{
    
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    
    padding: 30px 200px ;
        
 }
 .images img{

    width: 340px;
    padding:5px;
 }

